.m3chip15-container {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
}

.macbook-options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.option {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 10px;
  padding: 20px;
  width: 30%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.option h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.option p {
  font-size: 16px;
  margin: 5px 0;
}

.option a {
  color: #0070c9;
  text-decoration: none;
}

.option button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #0070c9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.option button:hover {
  background-color: #005bb5;
}
